* {
    font-family: "Agrandir";
}

body{
    margin: 0%;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.074rem;
}

h2 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.44rem;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
}

a {
    font-size: 1.2rem;
}

.padding {
    padding: 0px 16px 0px 16px;
}

nav {    
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: space-between;
    color: #8E8C6F;

    padding: 24px 16px 24px 10px;
}

nav table {
    display: none;
}

.joinLoom {
    display: none;
}

.hammock {
    width: 100%;
    padding: 0;
}

header {
    color: #F3E8D2;
    background-color: #8E8C6F;

    padding-bottom: 16px;
    border-radius: 0 0 0 40px;
    margin-bottom: 40px;
}

.text1 {
    padding: 0px 16px 0px 16px;
}

.btnWhite {
    background-color: #F3E8D2;
    color: #8E8C6F;

    text-decoration: none;
    display: block;
    margin: auto;

    width: 160px;
    height: 56px;

    text-align: center;
    align-content: center;
    border-radius: 28px;
}

hr {
    height: 4px;
    position: relative;
    top: -24px;
    background-color: #F3E8D2;
    border: none;
    border-radius: 4px;
}

.white1 {
    color: #8E8C6F;
    text-align: center;
}

.white1 img {
    border-radius: 20px;
}

.white1 div {
    display: grid;
    grid-template-columns: auto auto;
    align-content: space-around;

    justify-content: center;
    align-items: end;
    gap: 16px;
}



.img3 {
    margin-top: 16px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
}

.checkmark {
    display: block;
    text-align: center;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #8E8C6F;
}

.checkmark p {
    margin: 0;
    font-size: 0.694rem;

    position: relative;
    top: 0.5px;
    left: 8px;
}

.left {
    text-align: left;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
    align-items: center;
}

.btnGreen {
    background-color: #8E8C6F;
    color: #F3E8D2;

    text-decoration: none;
    display: block;
    margin: auto;

    width: 160px;
    height: 56px;

    text-align: center;
    align-content: center;
    border-radius: 28px;
}

.padding .left td {
    padding-right: 16px;
}

.green1 {
    border-radius: 0px 16px;

    background-color: #8E8C6F;
    color: #F3E8D2;
    text-align: center;

    margin-top: 40px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.data {
    background-color: #F3E8D2;
    color: #8E8C6F;

    margin: 0px 16px;

    border-radius: 16px;

    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
}

.data table {
    margin: 0 auto;
    width: 90%;
    table-layout: fixed;

}

.data td p {
    margin: 0;
}

.grey {
    margin: 16px;
    border-radius: 16px;
    background-color: #D9D9D9;

    height: 240px;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;

    position: relative;
}

#beanbag {
    position: absolute;
    right: 8px;
    bottom: -1830px;
}

.white2 {
    padding-top: 80px;
    color: #8E8C6F;
    text-align: center;
}

.pijlers {
    display: grid;
    align-content: space-around;
}

.pijlers table {
    margin: 0 auto;
}

.pijlers td {
    padding: 16px;
}

.green2 {
    border-radius: 0px 16px;

    background-color: #8E8C6F;
    color: #F3E8D2;
    text-align: center;

    margin-top: 80px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.artikel {
    margin: 16px;
    border-radius: 16px;

    background: #D9D9D9;
    color: #8E8C6F;

    text-align: left;
    display: grid;
    align-content: end;
    width: 400px;
}

.artikels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artikel div {
    margin-top: 240px;
    background: #F3E8D2;
    padding: 0 16px;
    border-radius: 0 0 16px 16px;
    height: 280px;
}

.leesmeer {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.white3 {
    padding-top: 80px;
    color: #8E8C6F;
    text-align: center;
}

.grey2 {
    margin: 16px 16px 40px 16px;
    border-radius: 16px;
    background-color: #D9D9D9;

    height: 400px;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;

    position: relative;
}

.FAQ {
    text-align: left;
}

.FAQ h3 {
    margin-bottom: 0 0 16px 0;
    align-self: center;
}

.FAQ p {
    margin: 0 0 16px 0;
}

.FAQqstn {
    display: grid;
    grid-template-columns: 1fr auto;
}

.vragen {
    display: grid;
    align-content: center;
    text-align: center;
    border-radius: 16px;

    color: #8E8C6F;
    background-color: #F3E8D2;

    margin: 0 16px 16px 16px;
}

.vragen a {
    margin-bottom: 16px;
}

footer {
    background-color: #8E8C6F;
    color: #F3E8D2;

    border-radius: 16px 16px 0 0;
    margin: 0;
    padding-bottom: 16px;
}

.footer {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
}

.footer2 h2 {
    padding-bottom: 40px;
}

.footerInfo {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
}

.footerInfo h2 {
    margin: 0;
}

@media (min-width: 768px) {   
    .padding {
        padding: 0px 24px 0px 24px;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: text1 hammock;
        padding-bottom: 0px;
    }

    .text1 {
        order: 1;
    }

    .hammock {
        order: 2;
        height: 100%;
    }


    h1 {
        font-family: "Libre Baskerville", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 1.728rem;
    }

    h2 {
        font-family: "Libre Baskerville", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 1.2rem;
    }

    h3 {
        font-size: 0.833rem;
        font-weight: bold;
    }

    p {
        font-size: 0.833rem;
    }

    a {
        font-size: 1rem;
    }

    hr {
        height: 4px;
        position: relative;
        top: -20px;
        background-color: #F3E8D2;
        border: none;
        border-radius: 4px;
    }

    .vragen {
        display: grid;
        align-content: center;
        text-align: center;
        border-radius: 16px;

        color: #8E8C6F;
        background-color: #F3E8D2;

        margin: 0 160px 16px 160px;
    }

    .hamburger {
        display: none;
    }

    nav {    
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-content: space-between;
        color: #8E8C6F;

        padding: 24px 16px 24px 10px;
    }

    nav table {
        color: #8E8C6F;
        display: grid;
        width: 100%;
        margin-left: 16px;
    }

    nav table td {
        width: 1%;
        padding: 0 4px 0 4px ;
        align-content: center;
        text-align: center;
    }

    .joinLoom {
        display: grid;
        background: #8E8C6F;
        color: #F3E8D2;
        

        border-radius: 16px;
        padding: 15px;
        height: 10%;
    }


    
    .white1 div {    
        gap: 24px;
    }

    
    
    .img3 {
        margin-top: 24px;
    }

    .checkmark p {
        margin: 0;
        font-size: 0.694rem;

        position: relative;
        top: 0.5px;
        left: 12px;
    }

    .artikel {
        margin: 16px;
        border-radius: 16px;

        background: #D9D9D9;
        color: #8E8C6F;

        text-align: left;
        display: grid;
        align-content: end;
        width: 240px;
    }

    .artikels {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .artikel div {
        height: 320px;
    }

    .grey2 {
        width: 350px;
        height: 350px;
    }

    .white3 .padding {
        display: grid;
        grid-template-columns: auto auto;
    }
}