* {
    font-family: "Agrandir";
}

body{
    margin: 0%;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.074rem;
}

h2 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.44rem;
}

p {
    font-size: 1rem;
}

a {
    font-size: 1.2rem;
}

.padding {
    padding: 0px 16px 0px 16px;
}

nav {    
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: space-between;

    padding: 24px 16px 24px 10px;
}

.hammock {
    width: 100%;
    padding: 0;
}

header {
    color: #F3E8D2;
    background-color: #8E8C6F;

    padding-bottom: 16px;
    border-radius: 0 0 0 40px;
    margin-bottom: 40px;
}

.btnWhite {
    background-color: #F3E8D2;
    color: #8E8C6F;

    text-decoration: none;
    display: block;
    margin: auto;

    width: 160px;
    height: 56px;

    text-align: center;
    align-content: center;
    border-radius: 28px;
}

hr {
    height: 4px;
    position: relative;
    top: -24px;
    background-color: #F3E8D2;
    border: none;
    border-radius: 4px;
}

.white1 {
    color: #8E8C6F;
    text-align: center;
}

.white1 img {
    border-radius: 20px;
}

.white1 div {
    display: grid;
    grid-template-columns: auto auto;
    align-content: space-around;

    justify-content: center;
    align-items: end;
    gap: 16px;
}

.img3 {
    margin-top: 16px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
}

.checkmark {
    display: block;
    text-align: center;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #8E8C6F;
}

.checkmark p {
    margin: 0;
    font-size: 0.694rem;

    position: relative;
    top: 0.5px;
    left: 8px;
}

.left {
    text-align: left;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
    align-items: center;
}

.btnGreen {
    background-color: #8E8C6F;
    color: #F3E8D2;

    text-decoration: none;
    display: block;
    margin: auto;

    width: 160px;
    height: 56px;

    text-align: center;
    align-content: center;
    border-radius: 28px;
}

.padding .left td {
    padding-right: 16px;
}

.green1 {
    border-radius: 0px 16px;

    background-color: #8E8C6F;
    color: #F3E8D2;
    text-align: center;

    margin-top: 40px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.data {
    background-color: #F3E8D2;
    color: #8E8C6F;

    margin: 0px 16px;

    border-radius: 16px;

    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
}

.data table {
    margin: 0 auto;
    width: 90%;
    table-layout: fixed;

}

.data td p {
    margin: 0;
}

.grey {
    margin: 16px;
    border-radius: 16px;
    background-color: #D9D9D9;

    height: 240px;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;

    position: relative;
}

#beanbag {
    position: absolute;
    right: 8px;
    bottom: -1830px;
}

.white2 {
    padding-top: 80px;
    color: #8E8C6F;
    text-align: center;
}

.pijlers {
    display: grid;
    align-content: space-around;
}

.pijlers table {
    margin: 0 auto;
}

.pijlers td {
    padding: 16px;
}

.green2 {
    border-radius: 0px 16px;

    background-color: #8E8C6F;
    color: #F3E8D2;
    text-align: center;

    margin-top: 80px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.artikel {
    margin: 0 16px;
    border-radius: 16px;

    background: #D9D9D9;
    color: #8E8C6F;

    text-align: left;

    display: grid;
    align-content: end;
}

.artikel div {

    margin-top: 240px;
    background: #F3E8D2;
    padding-left: 8px;
    border-radius: 0 0 16px 16px;
}

.leesmeer {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}