body{
    margin: 0%;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.074rem;
}

p {
    font-size: 1rem;
}

a {
    font-size: 1.2rem;
}

nav {    
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: space-between;

    padding: 24px 16px 24px 10px;
}

.hammock {
    width: 100%;
}

header {
    color: #F3E8D2;
    background-color: #8E8C6F;

    padding-bottom: 24px;

    border-radius: 0 0 0 40px;
}

.btn {
    background-color: #F3E8D2;
    color: #8E8C6F;

    text-decoration: none;
    display: block;
    margin: auto;

    width: 160px;
    height: 56px;

    text-align: center;
    align-content: center;
    border-radius: 28px;
}